body {
    margin: auto;
    background-color: #051c3b7b;
    max-width: 790px;
}
h1 {
    margin-bottom: 0px;
}
em {
    display: block;
    text-align: center;
    margin: auto;
}
img {
    max-width: 470px;
}
figure {
    margin: auto;
    text-align: center;
}