body {
    background-image: url('/img/background.jpg');
    background-color: #afceea;
    background-repeat: no-repeat;
    background-size:cover;
}
h1, h2 {
    margin: 0;
}
h1 {
    text-align: center;
    font-size: 120px;
    padding-bottom: 10px;
}
.primary-card {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #00182f4c;
    width: 750px;
    height: 800px;
}
.links {
    margin: auto;
    width: 500px;
    background-color: #00000064;
    border: 1px solid #a9d5ff;
    border-radius: 5px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}
@font-face {
    font-family: 'segment7';
    src: url('/font/segment7.ttf') format('truetype');
}
table {
    margin: auto;
}
td {
    padding: 5px;
}
.widget {
    background-color: #00000064;
    border: 1px solid #a9d5ff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.socials img {
    width: 32px;
}
#clock {
    background: linear-gradient(#adb886, #8e976e) padding-box, linear-gradient(rgb(151, 151, 151), rgb(115, 115, 115)) border-box;
    border-radius: 10px;
    border: 4px solid transparent;
    text-shadow: 2px 2px 2px #00000059;
    width: 165px;
    height: 45px;
    margin: auto;
    text-align: center;
    padding: 0 5px;
    font-size: 46px;
    font-family: 'segment7', 'Courier New', Courier, monospace;
    color:#000000ab;
}
.activepage {
    font-weight: bold;
}
.version a {
    text-decoration: none;
    color: #ffffff37;
}
.version {
    font-size: 9px;
    text-align: left;
    margin-bottom: -10px;
}