body {
    background-image: url('/img/background.jpg');
    background-color: #afceea;
    background-repeat: no-repeat;
    background-size:cover;
}
marquee {
    border-radius: 5px;
    background-color: black;
    font-weight: bold;
    border: 1px solid #a9d5ff;
    width: 735px;
    height: 24px;
}
h1, h2 {
    margin: 0;
}
h1 {
    clear: both;
    position: relative;
    top: -15px;
    text-align: center;
    font-size: 120px;
}
.primary-card {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #00182f4c;
    width: 750px;
}
.links {
    margin: auto;
    width: fit-content;
    padding: 0 10px 0 10px;
    background-color: #00000064;
    border: 1px solid #a9d5ff;
    border-radius: 5px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}
@font-face {
    font-family: 'segment7';
    src: url('/font/segment7.ttf') format('truetype');
}
@font-face {
    font-family: 'arcade_i';
    src: url('/font/arcade_i.ttf') format('truetype');
}
table {
    margin: auto;
}
td {
    padding: 5px;
}
footer ul {
    font-size: 12px;
    text-align: left;
    list-style-type: none;
}
.widget {
    background-color: #00000064;
    border: 1px solid #a9d5ff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.pixel img {
    image-rendering: pixelated;
}
.navlink {
    height: 190px;
    display: block;
}
.coolsites {
    height: 236px;
}
.navlink iframe { 
    position: relative;
    top: 50%; /* move the image down by half its own height */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* adjust the vertical position of the image */
}
#clock {
    background: linear-gradient(#adb886, #8e976e) padding-box, linear-gradient(rgb(151, 151, 151), rgb(115, 115, 115)) border-box;
    border-radius: 10px;
    border: 4px solid transparent;
    text-shadow: 2px 2px 2px #00000059;
    width: 165px;
    height: 45px;
    margin: auto;
    text-align: center;
    padding: 0 5px;
    margin-bottom: 5px;
    font-size: 46px;
    font-family: 'segment7', 'Courier New', Courier, monospace;
    color:#000000ab;
}
.activepage {
    font-weight: bold;
}
.version a {
    text-decoration: none;
    color: #ffffff37;
}
.version {
    font-size: 9px;
    text-align: left;
    margin-bottom: -10px;
}
.flags {
    float: right;
}
.visitors {
    background-color: #000;
    color: #00ff00;
    font-weight: bold;
    padding: 1px;
    font-family:'arcade_i', monospace;
    font-size: 24px;
}